.sobre{

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 2em;

}

.saiba-mais{

    width: 100%;
    height: 100%;
    background: var(--light-green-grandient);
    background-size: 300% 300%;
    animation: changeBackgroundColor 15s ease infinite;

    padding-top: 2em;
    padding-bottom: 2em;

}

.saiba-mais ul{

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2em;
    margin-bottom: 2em;
}

.saiba-mais p{

    text-align: center;

}

.saiba-mais h2{

    text-align: center;

}

.saiba-mais a{

    color: var(--black);
    font-size: 20px;
    font-weight: 700;

}

.solicite{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;

}

.solicite p{

    text-align: justify;
    color: var(--white);
    padding-left: 4em;
    padding-right: 4em;

}

.servicos{

    background: var(--blue-grandient);
    background-size: 300% 300%;
    animation: changeBackgroundColor 15s ease infinite;

    padding-top: 2.3em;
    padding-bottom: 2.3em;

}

.servicos .titulos{

    color: var(--white);
    padding-left: 2em;

}

.atendimento-flex{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;

}

.atendimento-flex p{

    text-align: center;
    font-size: 1.2em;

    padding-left: 7em;
    padding-right: 7em;

}

.atendimento-flex .subtitulos{

    font-size: 2em;
    color: var(--green);

    padding-top: 2em;
    padding-left: 4.5em;

}

.atendimento .titulos{

    margin-top: 1em;
    padding-left: 2em;

}

.slick{

    text-align: center;

}

.slick h3{

    font-size: 3.1em;
    color: var(--green);
    font-weight: 900;
    margin-top: 1.2em;

}

.slick h2{

    font-size: 1.6em;
    color: var(--black);
    font-weight: 700;

    margin-bottom: 1.2em;

}

.slick p{

    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;

    margin-bottom: 1.2em;

}

.avaliacao{

    background: var(--blue-grandient);
    background-size: 300% 300%;
    animation: changeBackgroundColor 15s ease infinite;

    padding-top: 2.3em;
    padding-bottom: 2.3em;

}